{% extends 'base.html' %}

{% block content %}
    {% include 'includes/header.html' %}
    <div class="grid-container">
        <h1 class="cell">Delete employee: {{ object.first_name }}</h1>
        <div class="grid-x">
            <form class="cell" method="POST"> {% csrf_token %}
                <div class="callout alert">
                    <h5>Do you want to dalete this employee?</h5>
                    <button type="submit" class="alert button">Confirm</button>
                  </div>
            </form>
        </div>
    </div>
{% endblock content %}